[Desktop Entry]
Version=1.0
Name=Tetris
Exec=oneslip http://htmltetris.com 500x600 Tetris
Terminal=false
Type=Application
Icon=quadrapassel
Categories=Application;Game;
